<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Fonts Size" visible="true" id="Fonts.actionSet">
         <action
               label="&amp;Sample Action"
               icon="icons/increase-font.gif"
               class="fonts.actions.FontsIncreaseSizeAction"
               toolbarPath="increaseFontsSize"
               id="fonts.actions.FontsIncreaseSizeAction"/>
                <action
               label="&amp;Sample Action"
               icon="icons/decrease-font.gif"
               class="fonts.actions.FontsDecreaseSizeAction"
               toolbarPath="increaseFontsSize"
               id="fonts.actions.FontsDecreaseSizeAction"/>
      </actionSet>
   </extension>

</plugin>
